<div class="login-register" style="background-image: url(<%= image_path('login-register.jpg')%>);">
  <h1 class="welcome-title">Welcome to HR System</h1>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-block text-center">
                    <h4 class="card-title">Admin Panel</h4>
                    <p class="card-text">This is a workplace for admin user to manage the system.</p>
                    <%= link_to "Go to Admin Panel", admin_root_path, class: "btn btn-info"%>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-block">
                    <h4 class="card-title">Employer Panel</h4>
                    <p class="card-text">This is a workplace for employer user to manage the system.</p>
                    <%= link_to "Go to Employer Panel", employer_root_path, class: "btn btn-primary"%>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-outline-inverse text-center">
                <div class="card-block">
                    <h4 class="card-title">Employee Panel</h4>
                    <p class="card-text">This is a workplace for employee user to manage the system.</p>
                    <%= link_to "Go to Employee Panel", employee_root_path, class: "btn btn-primary"%>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
